USE [master]
GO
/****** Object:  Database [FitnessAI]    Script Date: 15.06.2026 11:23:06 ******/
CREATE DATABASE [FitnessAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitnessAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FitnessAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FitnessAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FitnessAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitnessAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitnessAI]
GO
/****** Object:  Table [dbo].[Personel_AI_Veri_Seti]    Script Date: 15.06.2026 11:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel_AI_Veri_Seti](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Yas] [int] NULL,
	[Cinsiyet] [nvarchar](10) NULL,
	[Boy] [int] NULL,
	[Kilo] [float] NULL,
	[Aktivite_Seviyesi] [float] NULL,
	[Sakatlik_Bolgesi] [nvarchar](50) NULL,
	[Sakatlik_Siddeti] [int] NULL,
	[Spor_Gecmisi_Yil] [int] NULL,
	[Hedef] [nvarchar](50) NULL,
	[Ekipman] [nvarchar](50) NULL,
	[Ogun_Tercihi] [int] NULL,
	[VKI] [float] NULL,
	[Program_Etiketi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program_Detaylari]    Script Date: 15.06.2026 11:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program_Detaylari](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_Etiketi] [nvarchar](50) NULL,
	[Program_Tam_Adi] [nvarchar](100) NULL,
	[Gun_Adi] [nvarchar](20) NULL,
	[Odak_Noktasi] [nvarchar](100) NULL,
	[Hareketler] [nvarchar](max) NULL,
	[Beslenme_Tipi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personel_AI_Veri_Seti] ON 

INSERT [dbo].[Personel_AI_Veri_Seti] ([ID], [Yas], [Cinsiyet], [Boy], [Kilo], [Aktivite_Seviyesi], [Sakatlik_Bolgesi], [Sakatlik_Siddeti], [Spor_Gecmisi_Yil], [Hedef], [Ekipman], [Ogun_Tercihi], [VKI], [Program_Etiketi]) VALUES (1, 56, N'0', 171, 88.3, 1.2, N'Bel', 0, 0, N'Kilo Verme', N'Dumbbell Only', 3, 30.2, N'YAG_YAKIMI')
INSERT [dbo].[Personel_AI_Veri_Seti] ([ID], [Yas], [Cinsiyet], [Boy], [Kilo], [Aktivite_Seviyesi], [Sakatlik_Bolgesi], [Sakatlik_Siddeti], [Spor_Gecmisi_Yil], [Hedef], [Ekipman], [Ogun_Tercihi], [VKI], [Program_Etiketi]) VALUES (2, 46, N'1', 153, 74.9, 1.725, N'Omuz', 0, 6, N'Kilo Verme', N'Full Gym', 3, 32, N'YAG_YAKIMI')
INSERT [dbo].[Personel_AI_Veri_Seti] ([ID], [Yas], [Cinsiyet], [Boy], [Kilo], [Aktivite_Seviyesi], [Sakatlik_Bolgesi], [Sakatlik_Siddeti], [Spor_Gecmisi_Yil], [Hedef], [Ekipman], [Ogun_Tercihi], [VKI], [Program_Etiketi]) VALUES (3, 32, N'1', 166, 68.1, 1.9, N'Diz', 0, 3, N'Güç ve Kondisyon', N'Dumbbell Only', 5, 24.71, N'PPL_SPLIT')
GO
SET IDENTITY_INSERT [dbo].[Personel_AI_Veri_Seti] OFF
GO
SET IDENTITY_INSERT [dbo].[Program_Detaylari] ON 

INSERT [dbo].[Program_Detaylari] ([ID], [Program_Etiketi], [Program_Tam_Adi], [Gun_Adi], [Odak_Noktasi], [Hareketler], [Beslenme_Tipi]) VALUES (1, N'PPL_SPLIT', N'Push-Pull-Legs', N'Pazartesi', N'İtme', N'Bench Press, Omuz Press', N'Yüksek Protein')
INSERT [dbo].[Program_Detaylari] ([ID], [Program_Etiketi], [Program_Tam_Adi], [Gun_Adi], [Odak_Noktasi], [Hareketler], [Beslenme_Tipi]) VALUES (2, N'GUC_5X5', N'5x5 Güç Programı', N'Pazartesi', N'Tüm Vücut', N'Squat, Deadlift', N'Yüksek Kalori')
INSERT [dbo].[Program_Detaylari] ([ID], [Program_Etiketi], [Program_Tam_Adi], [Gun_Adi], [Odak_Noktasi], [Hareketler], [Beslenme_Tipi]) VALUES (3, N'REHABILITASYON', N'Sakatlık Yönetimi', N'Pazartesi', N'Mobilite', N'Esnetme Hareketleri', N'Sağlıklı Yağlar')
SET IDENTITY_INSERT [dbo].[Program_Detaylari] OFF
GO
USE [master]
GO
